Source: eeepc-acpi-scripts
Section: utils
Priority: extra
Maintainer: Debian Eee PC Team <debian-eeepc-devel@lists.alioth.debian.org>
Uploaders: Ben Armstrong <synrg@sanctuary.nslug.ns.ca>,
 Nico Golde <nion@debian.org>, Damyan Ivanov <dmn@debian.org>,
 Raphael Geissert <geissert@debian.org>
Build-Depends: debhelper (>= 6)
Standards-Version: 3.8.2
Vcs-Git: git://git.debian.org/git/debian-eeepc/eeepc-acpi-scripts.git
Vcs-Browser: http://git.debian.org/?p=debian-eeepc/eeepc-acpi-scripts.git

Package: eeepc-acpi-scripts
Architecture: all
Conflicts: acpi-support
Depends: acpid (>= 1.0.4), acpi-support-base, pm-utils, rfkill
Recommends: alsa-utils
Suggests: aosd-cat, ttf-dejavu | ttf-bitstream-vera | ttf-freefont
 | gsfonts-x11 | ttf-mscorefonts-installer | ttf-liberation,
 gnome-osd
Description: Scripts to support suspend and hotkeys on the Asus Eee PC laptop
 This package adds support to the special features of Asus Eee PC series of
 laptops. These include sleep (suspend) and hotkeys such as wireless,
 brightness, mute, volume, video output toggle and the 'soft' keys available in
 some models.
